.fundoLogin {
    background-image: url("https://ik.imagekit.io/tkeh5vknk/6343825.jpg?updatedAt=1737731265181");
    background-repeat: no-repeat;
    min-height: 90%;
    width: 90%;
    background-size: cover;
    background-position: center;
}